[Unit]
Description=Open-Pdf-Sign-Server

[Service]
Restart=always
User=root
ExecStart=/usr/bin/java -jar openpdfsignserver.jar --
StandardOutput=null
StandardError=journal

[Install]
WantedBy=multi-user.target